.textContainer{
  flex-grow: 1
}

.profileContainer{
  width: 76.5vw;
  height: 13.5rem;
  margin-left: 3.5rem;
  margin-top: 9rem;
  display: flex;
}

.profileImg{
  width: 14.5rem;
  height: 14.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo{
  width: 97%;
  height: 97%;
  background-color: gray;
}

.NameContainer{
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
}

.nickName{
  font-size: 1.8rem;
  color: white;
  margin-left: 1.5rem;
}

.follow{
  width: 6rem;
  height: 1.5rem;
  border: 1px solid white;
  margin-top: 0.1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.iconContainer{
  display: flex;
  align-items: center;
  margin-left: 1.8rem;
  color: white;
  margin-top: 0.5rem;
}

.userIcon{
  font-size: 1.2rem;
}

.followNum{
  margin-left: 0.5rem;
  font-weight: 100;
}

.bottomContainer{
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #616161, #B9B9B9);
  display: flex;
}

.category{
  width: auto;
  height: 3rem;
  border-bottom: 1px solid rgb(150, 150, 150);
  margin-top: 2.7rem;
  display: flex;
}

.Tracks{
  color: white;
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  margin-left: 2rem;
}

.popularTracks{
  color: white;
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  margin-left: 1.5rem;
}

.Playlists{
  color: white;
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-shadow: 0 0 1px rgb(255, 255, 255);
  margin-left: 1.3rem;
}

.active {
  box-shadow: inset 0 -3px 0 0 rgb(255, 255, 255);
}

.Tracks,
.popularTracks,
.Playlists {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.trash{
  width: 20rem;
  height: 2.5rem;
}

.songsContainer{
  width: 107vh;
  height: 20rem;
  border: solid 1px white;
  margin-left: 3.5rem;
}

.ffContainer{
  flex-wrap: 1;
  width: 100%;
}

.allNumContainer{
  width: 23.5rem;
  height: 12rem;
  border: solid 1px white;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.followContainer{
  width: 23.5rem;
  height: 10rem;
  border: solid 1px white;
  margin: 0 auto;
}

.followingContainer{
  width: 23.5rem;
  height: 10rem;
  border: solid 1px white;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .bottomContainer{
    width: 100vw;
  }

  .profileContainer{
    width: 100vw;
  }
}