.HeaderContainer{
  display: flex;
  width: 81.2vw;
  height: 5rem;
  align-items: center;
  position: fixed;
}

.HeaderContainer.scrolled {
  border-bottom: 1px solid rgb(150, 150, 150);
  background-color: #565656;
}

.search{
  width: 30rem;
  height: 2.3rem;
  border-radius: 15px;
  background-color: #7E7E7E;
  border: none;
}

.notifications{
  width: 2rem;
  height: 2rem;
  color: white;
  margin-right: 10%;
}

.profile{
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 999px;
}

.iconContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  unicode-bidi: isolate;
  position: fixed;
  right: 3%;
}

.inputContainer{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 16%;
}