* {
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #3d3d3d, #939393);
}

.container {
  width: 18rem;
  height: 99.9vh;
  position: fixed;
}

.container1 {
  width: 18rem;
  height: 99.9vh;
}

.headerContainer {
  display: flex;
}

.subContainer {
  display: grid;
  width: 18rem;
  height: 100%;
  border-right: 1px solid rgb(150, 150, 150);
}

.menuContainer {
  padding-top: 3rem;
  width: 18rem;
  height: 18rem;
}

.home{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
  background-color: #696969;
}

.feed{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.Library{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.song{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 13%;
}

.menu {
  margin-left: 7%;
  font-size: 20px;
}

.title {
  width: 100%;
  height: 5rem;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px rgb(150, 150, 150);
}

.title.scrolled {
  border-right: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  background-color: #4a4a4a;
}

.veiwIcon {
  position: fixed;
  color: white;
  left: 1.5rem;
  top: 1.45rem;
  width: 2rem;
  height: 2rem;
  display: none;
  z-index: 1;
  cursor: pointer;
}

.veiwIcon:hover {
  background-color: #838383;
}

.HiddenContainer {
  height: 99.9vh;
  position: fixed;
  background: linear-gradient(to bottom, #4E4E4E, #939393);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.HiddenContainer.show {
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .container {
    display: none;
  }
  .container1 {
    display: none;
  }
  .veiwIcon {
    display: block;
  }
  .title{
    font-size: 0;
  }
}