*{
  margin: 0; 
}

body{
  background: linear-gradient(to bottom, #4E4E4E, #939393);
}

.container{
  width: 18rem;
  height: 99.9vh;
  border-right: solid 1px black;
}

.headerContainer{
  display: flex;
}

.menuContainer{
  width: 18rem;
  height: 18rem;
  margin-top: 6.5rem;
}

.home{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
  background-color: #696969;
}

.feed{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.Library{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.song{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 17%;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  color: white;
}

.icon{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 13%;
}

.menu{
  margin-left: 7%;
  font-size: 20px;
}